body {

color:rgb(0, 0, 0);
background-color: #ffffff;

}

.widecontainer {
  
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

a {
  color: rgb(17, 158, 205); 
  text-decoration: none;
}

a:hover{
  color:rgb(215, 88, 86);
  /*text-decoration: underline;*/
}
.nav_pad{
  padding-top:40px;
}
.section{
  background-color: #afafaf;
  padding-top: 30px;
  padding-bottom:40px;

}

.mid-section{
  padding-top: 120px;
  padding-bottom:40px;

}

.key {
  font-weight:bold;


}
.stripe {
 background-color: #DADADA;
}


ul.disc{
  list-style: disc;
  margin-left: 15px
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    padding-right:10px;
}


.statement_text {
    color:#444;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin-top: 20px;
    border: 1px dashed black;
}
